header>nav>ul>li{
    list-style-type: none;
    text-decoration: none;
}

header>nav>ul>li>a{
    background-color: #F7D488;
    padding: 30px;
    text-align: center;
    border-radius: 50px;
}
body{
    background-color: #2B303A;
}

h1{
    font-family: "Bebas Neue" , serif;
    color: #F25F5C;
    font-size: 60px;
}

header>nav>ul{
    display: flex;
    justify-content: space-around;
}