header>nav>ul>li{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: end;
}

header>nav>ul>li>a{
    color: black;
}


header>nav>ul{
display: flex;
justify-content: end;
gap: 20px;
margin-right: 50px;
}
.logo{
    position: absolute;
    margin-left: 50px;
}

header>nav>ul>li>a{
    text-decoration: none;
}

div:first-of-type{
    width: 350px;
    height: 220px;
    margin-left: 50px;
    margin-top: 100px;
}
div:first-of-type>a{
    text-decoration: none;
    color: white;
    background-color: #7EDAD2;
    padding: 10px;
}
h1>span{
    color: #7EDAD2;
}

body{
    background-image: url(/img/header1/imagen\ principal.png);
    background-position: right top;
    background-size: 60%;
    background-repeat:no-repeat;
}
.datos{
    display: flex;
    justify-content: space-between;
    width: max-content;
    font-family: "Bebas Neue" , serif;
    margin-top: 50px;
}
.datos>section{
    padding-left: 30px;
}
.datos>section>h2{
    text-align: center;
}
.datos>section>p{
    text-align: center;
}

div:last-of-type{
    display: flex;
    gap: 30px;

}
div:last-of-type>section{
    background-color: white;
    max-width: max-content;
    padding-left: 20px;
}

.iconito{
    margin-top: 10px;
    margin-left: 5px;
}

p{
    font-family: "Poppins" , sans-serif;
}

h1{
    font-family: "Bebas Neue" , serif;
    font-weight: 400;
    font-size: 55px;
}